//pink
$pink-hopbush:#c69;
$pink-bouquet:#b37399;
$pink-venus:#998099;
//blue
$regent-grey:#bcbdbe;
$pale-sky:#6b717f;
$midnight-blue:#036;
$blue-primary:#0198E5;

//black
$black:#333333;

// white
$white:#FFFFFF;
$light-grey: #dddee1;
//orange
$orange: #FA790E;
//text-colors
$grey-text: #898E95;
$grey-border: #d3d3d5;
$black-text: #999999;
$blue-text: #00A2FF;
$blue-border: #3bbef0;
$blue-label: #1a1a44;
$red : red // to-do

